@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&family=Roboto&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Patua One', cursive; */

.App{
  display: inline-block;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links{
  color: #F3F5FC;
  margin-top: auto;
}

.app-link{
  height: 180px;
  width: 380px;
  margin: 2%;
  border-radius: 25px;
  
}

.app-link-add{
  display: inline-block;
  background-color: #45aeb6;
  
}

.app-link-vote{
  display: inline-block;
  background-color: #4d45b6;
}

.app-link-winner{
  display: inline-block;
  background-color: #b64d45;
}

.app-link-result{
  display: inline-block;
  background-color: #aeb645;
}